<header th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<div sec:authorize="!hasRole('ADMIN')">
					<a class="navbar-brand" href="/">Home Page</a>
				</div>
				<div sec:authorize="hasRole('ADMIN')">
					<a class="navbar-brand" href="/admin/">Home Page</a>
				</div>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				
				<div sec:authorize="!hasRole('ADMIN')">
					<ul th:if="${utente_log?.getUsername()} == null"
						class="nav navbar-nav navbar-right">
						<li><a href="/loginadmin"> <span
								class="glyphicon glyphicon-log-in">&nbsp;</span> Login
						</a></li>
					</ul>
				</div>
				<div sec:authorize="hasRole('ADMIN')">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/gestionecorsi"> <span
								class="glyphicon glyphicon-briefcase">&nbsp;</span> Corsi
						</a></li>
						<li><a href="/gestionecorsisti"> <span
								class="glyphicon glyphicon-list">&nbsp;</span> Corsisti
						</a></li>
						<li><a href="/logoutadmin"> <span
								class="glyphicon glyphicon-log-out">&nbsp;</span> Logout
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>